{% extends "base.html" %}

{% block content %}

<div>
  <h1>Edit User</h1>
</div>

<div>
    <form method="post" action="{{ url_for('update_user') }}" enctype="multipart/form-data">
        <div class="form-group">
            <label for="userId">ID</label>
            <input type="text" name="userId" class="form-control" value="{{customer_data.userId}}" readonly>
        </div>
        <div class="form-group">
            <label for="email">Email</label>
            <input type="text" name="email" class="form-control" value="{{customer_data.email}}" readonly>
        </div>
        <div class="form-group">
            <label for="name">Name</label>
            <input type="text" name="name" class="form-control" value="{{customer_data.name}}" required>
        </div>
        <div class="form-group">
            <label for="admin">Admin</label>
            <input type="checkbox" name="admin" class="form-control" {% if customer_data.admin %}checked{% endif %}>
        </div>
        <br>
        <h2>Orders</h2>
        <div id="orders-table">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Date</th>
                        <th scope="col">Addressee Name</th>
                        <th scope="col">Address</th>
                        <th scope="col">Payment Type</th>
                        <th scope="col">Total Cost</th>
                        <th scope="col">Expected delivery date</th>
                        <th scope="col">Status</th>
                    </tr>
                </thead>
                <tbody>
                    {% for order in customer_data['orders'] %}
                        <tr>
                            <td>{{order.timestamp[0:10]}}</td>
                            <td>{{order.name}}</td>
                            <td>{{order.address}}</td>
                            <td>{{order.paymentType}}</td>
                            <td>£{{order.totalCost}}</td>
                            <td>{{order.expectedDeliveryDate[0:10]}}</td>
                            <td>
                                <div class="form-group">
                                    <select class="form-control" name="orderStatusIndex{{loop.index0}}">
                                    <option value='Preparing' {% if order.status == 'Preparing'%}selected{% endif %}>Preparing</option>
                                    <option value='Dispatched' {% if order.status == 'Dispatched'%}selected{% endif %}>Dispatched</option>
                                    <option value='Delivered' {% if order.status == 'Delivered'%}selected{% endif %}>Delivered</option>
                                    <option value='Cancelled' {% if order.status == 'Cancelled'%}selected{% endif %}>Cancelled</option>
                                    </select>
                                </div>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <button type="submit" class="btn btn-default">Update</button>
    </form>
</div>

{% endblock %}