{% extends "base.html" %}

{% block content %}

    <section class="section-hero">
      <div class="hero">
        <h1 class="heading-primary hero-heading">Become a seasoned gamer, and select from a range of titles!</h1>
        <!-- <div class="gallery grid grid--3-cols"> -->
        <div class="gallery">
          <figure class="gallery-item">
            <img class="image-resize" src="../static/img/hero-1.jpg" alt="Example 1" />
            <!-- <figcaption>Add a caption if you want to add one</figcaption> -->
          </figure>
          <figure class="gallery-item img-2">
            <img class="image-resize" src="../static/img/hero-2.jpg" alt="Example 2" />
          </figure>
          <figure class="gallery-item">
            <img class="image-resize" src="../static/img/hero-3.jpg" alt="Example 3"  />
          </figure>
        </div>
        <a class='btn-link' href="shop"><button class="btn primary">Purchase Now!</button></a>

      </div>

    </section>

{% endblock %}